#support,
#contact {
  display: none;
}
body {
  background-color: pink;
  font-size: 20px;
  cursor: url("./cursor.png");
}
#images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #634a45;
  padding: 10px;
  border: 5px solid #412722;
}
button {
  border: 5px solid #412722;
  border-radius: 5px;
  margin: 5px;
  height: 80px;
  width: 250px;
  background-color: #ce8a97;
  font-size: 25px;
}
textarea {
  background-color: #ce8a97;
  border: 5px solid #412722;
  border-radius: 5px;
  width: 700px;
  height: 400px;
  font-size: 20px;
}
